<div class="container">
  <div class="navbar">
    <div class="grid grid-pair">
      <div class="grid-item 1/4">
        <%= link_to "Jottings.co", root_path %>
      </div>

      <div class="grid-item 3/4">
        <ul class="list-inline navbar-list">
          <li><%= link_to "Pricing", "#" %></li>
          <li><%= link_to "Support", "#" %></li>
          <li><%= link_to "Try now for free", "#", class: "btn btn-brand" %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center">
    <h1 class="text-light margin-4/1-top margin-2/1-bottom">
      Real-time collaboration in Markdown
    </h1>

    <%= image_tag "http://placehold.it/640x320?text=:-)" %>
  </div>
</div>
