<% @user.email = params[:invite] if params[:invite].present? %>

<h2>Sign up</h2>

<%= form_for @user, html: { class: "form-stacked" } do |form| %>
  <%= form.label :email, "E-mail" %>
  <%= form.text_field :email, type: 'email', class: "1/1" %>

  <%= form.label :password %>
  <%= form.password_field :password, class: "1/1" %>

  <%= form.submit "Sign up" %>
<% end %>
