<div class="grid">
  <div class="grid-item 3/4">
    <h2>Settings</h2>

    <%= form_for current_user, url: editor_profile_path, method: :patch, html: { class: "form-stacked" } do |form| %>
      <%= form.label :name do %>
        Name
        <small class="text-muted">(How you will be presented for collaborators)</small>
      <% end %>
      <%= form.text_field :name, class: "1/1" %>

      <%= form.label :email, "E-mail" %>
      <%= form.email_field :email, class: "1/1" %>

      <%= form.label :password %>
      <%= form.password_field :password, class: "1/1" %>

      <%= form.submit "Update" %>
    <% end %>

    <div class="text-right text-small">
      <%= link_to "Remove account", editor_profile_path, method: :delete, class: "text-negative" %>
    </div>
  </div>
</div>
