<div class="grid">
  <div class="grid-item 3/4">
    <h2>Settings</h2>

    <%= form_for current_user, url: editor_profile_path, method: :patch, html: { class: "form-stacked" } do |form| %>
      <%= form.label :name do %>
        Name
        <small class="text-muted">(How you will be presented for collaborators)</small>
      <% end %>
      <%= form.text_field :name, class: "1/1", placeholder: "i.e. Lisa Smith" %>

      <%= form.label :email, "E-mail" %>
      <%= form.email_field :email, class: "1/1" %>

      <%= form.label :password %>
      <%= form.password_field :password, class: "1/1" %>

      <%= form.submit "Update" %>
    <% end %>

    <div class="text-right">
      <modal width="400">
        <a class="text-small text-negative" slot="modal-trigger">
          Remove account
        </a>

        <div class="text-left text-small">
          <p>
            Would you consider to keep your account if one of these features exist?
          </p>

          <%= form_for Feedback.new, url: editor_profile_path, method: :delete, html: { class: "form-stacked form-poll" } do |form| %>
            <%= render "static_pages/feedback_form_fields", form: form %>

            <p class="margin-bottom text-negative">
              This action is permanent and will remove your all documents and stacks.
            </p>

            <div class="text-center">
              <%= form.submit "I know, remove my account", class: "btn-negative" %>
            </div>
          <% end %>
        </div>
      </modal>
    </div>
  </div>
</div>
