<div class="grid">
  <div class="grid-item 1/2">
    <%= form_for current_user, url: editor_profile_path, method: :patch, html: { class: "form-stacked" } do |f| %>
      <%= f.label :name do %>
        Name
        <small class="text-muted">(How you will be named for collaborators)</small>
      <% end %>
      <%= f.text_field :name, class: "1/1" %>

      <%= f.label :email, "E-mail" %>
      <%= f.email_field :email, class: "1/1" %>

      <%= f.label :password %>
      <%= f.text_field :password, class: "1/1" %>

      <div>
        <%= f.submit "Update" %>
      </div>
    <% end %>

    <div class="text-right">
      <%= link_to "Remove account", editor_profile_path, method: :delete, class: "text-negative" %>
    </div>
  </div>
</div>
