<div class="grid">
  <div class="grid-item 3/4">
    <h2>Settings</h2>

    <%= form_for current_user, url: editor_profile_path, method: :patch, html: { class: "form-stacked" } do |form| %>
      <%= form.label :name do %>
        Name
        <small class="text-muted">(How you will be named to collaborators)</small>
      <% end %>
      <%= form.text_field :name, class: "1/1", placeholder: "i.e. Lisa Smith" %>

      <%= form.label :email, "E-mail" %>
      <%= form.email_field :email, class: "1/1" %>

      <%= form.label :password %>
      <%= form.password_field :password, class: "1/1" %>

      <%= form.submit "Update" %>
    <% end %>

    <div class="text-right">
      <modal width="400">
        <a class="text-small text-negative" slot="modal-trigger">
          Remove account
        </a>

        <div class="text-left text-small">
          <p class="text-lead">
            Why do you want to remove the account?
          </p>

          <%= form_for Feedback.new, url: editor_profile_path, method: :delete, html: { class: "form-stacked form-poll" } do |form| %>
            <%= label_tag nil, class: "margin-1/3-bottom" do %>
              <%= hidden_field_tag "feedback[answers][apps]", 0 %>
              <%= check_box_tag "feedback[answers][apps]" %> No mobile/desktop app
            <% end %>

            <%= label_tag nil, class: "margin-1/3-bottom" do %>
              <%= hidden_field_tag "feedback[answers][sync]", 0 %>
              <%= check_box_tag "feedback[answers][sync]" %> No syncing with external services like Google Drive, Dropbox etc.
            <% end %>

            <%= label_tag nil do %>
              <%= hidden_field_tag "feedback[answers][editor]", 0 %>
              <%= check_box_tag "feedback[answers][editor]" %> Text editor is too simple. I miss options like autoformatting todos, attaching files etc.
            <% end %>

            <%= form.label :comment, "Any other reasons?" %>
            <%= form.text_area :comment, class: "1/1", rows: 4 %>

            <p class="margin-bottom text-negative">
              This action is permanent and will remove all your documents and shared stacks.
            </p>

            <div class="text-center">
              <%= form.submit "I know, remove my account", class: "btn-negative" %>
            </div>
          <% end %>
        </div>
      </modal>
    </div>
  </div>
</div>
