<dropdown>
  <a is="dropdown-toggle">
    <%= icon_tag "ios-gear" %>
  </a>

  <ul is="dropdown-menu" width="150">
    <% if current_user.bookmarked?(document) %>
      <li><%= link_to "Unbookmark", editor_document_bookmark_path(document), method: :delete %></li>
    <% else %>
      <li><%= link_to "Bookmark", editor_document_bookmark_path(document), method: :post %></li>
    <% end %>

    <li>
      <modal>
        <span slot="modal-trigger">Rename</span>

        <%= form_for [:editor, document], method: :patch, html: { class: "form-inline" } do |form| %>
          <%= form.text_field :name, placeholder: "Type document name..", autofocus: true, id: nil %>
          <%= form.submit "Rename" %>
        <% end %>
      </modal>
    </li>

    <li><%= link_to "Remove", editor_document_path(document), method: :delete, class: "text-negative" %></li>
  </ul>
</dropdown>
