<div class="grid grid-pair grid-middle margin-1/2-bottom">
  <div class="grid-item 3/5">
    <div class="text-muted">
      Last edited <%= time_ago_in_words(@document.updated_at) %> ago by ???
    </div>
  </div>

  <div class="grid-item 2/5">
    <ul class="list-divided">
      <% if current_user.bookmarked?(@document) %>
        <li><%= link_to "Unbookmark", editor_document_bookmark_path(@document), method: :delete %></li>
      <% else %>
        <li><%= link_to "Bookmark", editor_document_bookmark_path(@document), method: :post %></li>
      <% end %>

      <% if @document.owner?(current_user) %>
        <li><%= link_to "Share", editor_document_share_path(@document) %></li>
        <li><%= link_to "Remove", editor_document_path(@document), method: :delete, class: "text-negative" %></li>
      <% end %>
    </ul>
  </div>
</div>

<ul class="list-inline margin-bottom">
  <% @document.collaborators.each do |collaborator| %>
    <li><%= gravatar_tag collaborator.email, size: 40 %></li>
  <% end %>
</ul>

<%= form_for [:editor, @document], method: :put, html: { class: 'form-stacked' } do |form| %>
  <%= form.text_area :body, class: "1/1 margin-bottom",
                            is: "editor",
                            "document": @document.to_param %>
  <div>
    <%= form.submit "Save" %>
  </div>
<% end %>

<div is="editor-autosave-box">
  Document saved...
</div>
