<div class="grid">
  <div class="grid-item 3/4">
    <div class="grid grid-pair grid-middle margin-bottom">
      <div class="grid-item 3/4">
        <ul class="list-divided text-small">
          <li class="text-muted">
            Last edited <%= time_ago_in_words(@document.updated_at) %> ago by ???
          </li>
          <li>
            <% if @document.owner?(current_user) %>
              <%= link_to "Share", editor_document_share_path(@document), class: "margin-bottom" %>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="grid-item 1/4">
        <ul class="collaborators">
          <% @document.collaborators.each do |collaborator| %>
            <li><%= gravatar_tag collaborator.email %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= form_for [:editor, @document], method: :put, html: { class: 'form-stacked' } do |form| %>
      <%= form.text_area :body, class: "1/1 margin-bottom",
                                is: "editor",
                                "document": @document.to_param %>
      <div>
        <%= form.submit "Save" %>
      </div>
    <% end %>
  </div>

  <div class="grid-item 1/4">
    <!-- track edits -->
  </div>
</div>
