<h3>Bookmarks</h3>

<% if current_user.bookmarks.present? %>
  <ul class="list-reset">
    <% current_user.bookmarks.each do |bookmark| %>
      <li>
        <%= link_to editor_document_path(bookmark.document) do %>
          <div class="media media-middle media-1/2">
            <%= icon_tag "bookmark", "h3" %>
            <div class="media-body">
              <%= bookmark.document %>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<h3>Documents</h3>

<ul class="list-reset">
  <% current_user.documents.each do |document| %>
    <li>
      <%= link_to editor_document_path(document) do %>
        <div class="media media-middle media-1/2">
          <% if document.owner?(current_user) %>
            <%= icon_tag "document-text", "h3" %>
          <% else %>
            <%= icon_tag "person-stalker", "h3" %>
          <% end %>
          <div class="media-body">
            <%= document %>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to editor_documents_path, method: :post do %>
  <div class="media media-middle media-1/2">
    <%= icon_tag "document", "h3" %>
    <div class="media-body">
      New document
    </div>
  </div>
<% end %>
