<h3>Bookmarks</h3>

<div class="dropzone" is="sidebar-dropzone-bookmarks">
  <% if bookmarked_documents = current_user.bookmarked_documents.presence %>
    <ul class="list-reset">
      <% bookmarked_documents.each do |document| %>
        <li class="sidebar-item-document">
          <%= render "editor/documents/sidebar_item", document: document %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="dropzone-empty">
      Drag and drop documents here to create bookmarks.
    </div>
  <% end %>
</div>

<h3>Documents</h3>

<ul class="list-reset margin-1/2-bottom">
  <% current_user.tree_view.stacks.each do |stack, documents| %>
    <li class="sidebar-item-stack dropzone" is="sidebar-item-stack" stack="<%= stack.to_param %>">
      <%= render "editor/stacks/sidebar_item", stack: stack, documents: documents %>
    </li>
  <% end %>
</ul>

<ul class="list-reset margin-1/2-bottom dropzone" is="sidebar-dropzone-documents">
  <% current_user.tree_view.documents.each do |document| %>
    <li class="sidebar-item-document" is="sidebar-item-document" document="<%= document.to_param %>">
      <%= render "editor/documents/sidebar_item", document: document %>
    </li>
  <% end %>
</ul>

<ul class="list-reset">
  <li>
    <modal>
      <div class="media media-middle media-1/2" slot="modal-trigger">
        <%= icon_tag "ios-box-outline" %>
        <div class="media-body">New stack</div>
      </div>

      <%= form_for [:editor, Stack.new], html: { class: "form-inline" } do |form| %>
        <%= form.text_field :name, placeholder: "Type stack name..", autofocus: true %>
        <%= form.submit "Create" %>
      <% end %>
    </modal>
  </li>

  <li>
    <%= link_to editor_documents_path, method: :post do %>
      <div class="media media-middle media-1/2">
        <%= icon_tag "ios-compose-outline" %>
        <div class="media-body">
          New document
        </div>
      </div>
    <% end %>
  </li>
</ul>
