<h3>Bookmarks</h3>

<% if bookmarked_documents = current_user.bookmarked_documents.presence %>
  <ul class="list-reset">
    <% bookmarked_documents.sort_by(&:title).each do |document| %>
      <li>
        <%= render "editor/documents/sidebar_item", document: document, sidebar_icon: "bookmark" %>
      </li>
    <% end %>
  </ul>
<% end %>

<h3>Documents</h3>

<ul class="list-reset no-margin-bottom">
  <% current_user.stacks.sort_by(&:to_s).each do |stack| %>
    <li>
      <%= render "editor/stacks/sidebar_item", stack: stack %>
    </li>
  <% end %>
</ul>

<ul class="list-reset">
  <% current_user.documents.sort_by(&:title).each do |document| %>
    <li>
      <%= render "editor/documents/sidebar_item", document: document, sidebar_icon: "document-text" %>
    </li>
  <% end %>
</ul>

<ul class="list-reset">
  <li>
    <modal>
      <div class="media media-middle media-1/2" slot="modal-trigger">
        <%= icon_tag "plus-round" %>
        <div class="media-body">New stack</div>
      </div>

      <%= form_for [:editor, Stack.new], html: { class: "form-inline" } do |form| %>
        <%= form.text_field :name, placeholder: "Type stack name..", autofocus: true %>
        <%= form.submit "Create" %>
      <% end %>
    </modal>
  </li>

  <li>
    <%= link_to editor_documents_path, method: :post do %>
      <div class="media media-middle media-1/2">
        <%= icon_tag "plus-round" %>
        <div class="media-body">
          New document
        </div>
      </div>
    <% end %>
  </li>
</ul>
