<h3>Bookmarks</h3>

<div class="dropzone" is="sidebar-dropzone-bookmarks">
  <% if bookmarked_documents = current_user.bookmarked_documents.presence %>
    <ul class="list-reset">
      <% bookmarked_documents.each do |document| %>
        <li class="sidebar-item-document">
          <%= render "editor/documents/sidebar_item", document: document %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="dropzone-empty">
      Drag and drop documents here to create bookmarks
    </div>
  <% end %>
</div>

<h3>Documents</h3>

<ul class="list-reset margin-1/2-bottom">
  <% current_user.stacks.without_root.each do |stack| %>
    <li class="sidebar-item-stack dropzone" is="sidebar-item-stack" stack="<%= stack.to_param %>">
      <%= render "editor/stacks/sidebar_item", stack: stack, documents: stack.documents %>
    </li>
  <% end %>
</ul>

<ul class="list-reset margin-1/2-bottom dropzone" is="sidebar-item-root-stack">
  <% current_user.root_stack.documents.each do |document| %>
    <li class="sidebar-item-document" is="sidebar-item-document" document="<%= document.to_param %>">
      <%= render "editor/documents/sidebar_item", document: document %>
    </li>
  <% end %>
</ul>

<ul class="list-reset margin-top">
  <li>
    <modal width="285">
      <div class="media media-middle media-1/2" slot="modal-trigger">
        <%= icon_tag "ios-compose-outline" %>
        <div class="media-body">New document</div>
      </div>

      <%= form_for [:editor, @new_document], html: { class: "form-stacked" } do |form| %>
        <%= form.label :name, "Type the document name:" %>
        <%= form.text_field :name, placeholder: "i.e. Blog Post", autofocus: true, class: "margin-1/3-bottom" %>
        <%= form.submit "Create" %>
      <% end %>
    </modal>
  </li>

  <li>
    <modal width="360">
      <div class="media media-middle media-1/2" slot="modal-trigger">
        <%= icon_tag "ios-box-outline" %>
        <div class="media-body">New stack</div>
      </div>

      <%= form_for [:editor, @new_stack], html: { class: "form-stacked" } do |form| %>
        <%= form.label :name, "Type the stack name:" %>
        <%= form.text_field :name, placeholder: "i.e. Drafts", autofocus: true, class: "1/1" %>

        <%= form.label :collaborations do %>
          Invite other people to work on documents inside this stack
          <small class="text-micro text-muted">(optional)</small>:
        <% end %>

        <%= form.fields_for :collaborations do |collaboration| %>
          <%= render "editor/stacks/collaborations/fields", form: collaboration %>
        <% end %>

        <div class="margin-bottom text-right text-micro">
          <%= link_to_add_association "+ Invite more people", form, :collaborations,
            partial: "editor/stacks/collaborations/fields",
            form_name: "form",
            class: "text-muted" %>
        </div>

        <div class="text-center">
          <%= form.submit "Create", class: "1/2" %>
        </div>
      <% end %>
    </modal>
  </li>

  <li class="margin-top">
    <%= link_to editor_trash_path, class: "media media-middle media-1/2" do %>
      <%= icon_tag "ios-trash-outline" %>
      <div class="media-body">Trash</div>
    <% end %>
  </li>
</ul>
