<dropdown>
  <a is="dropdown-toggle">
    <%= icon_tag "ios-gear" %>
  </a>

  <ul is="dropdown-menu" width="150">
    <% if stack.owner?(current_user) %>
      <li><%= link_to "Collaborators", editor_stack_share_path(stack) %></li>
      <li>
        <modal>
          <span slot="modal-trigger">Rename</span>

          <%= form_for [:editor, stack], method: :patch, html: { class: "form-inline" } do |form| %>
            <%= form.text_field :name, placeholder: "Type stack name..", autofocus: true, id: nil %>
            <%= form.submit "Rename" %>
          <% end %>
        </modal>
      </li>

      <li class="dropdown-separator">
        <%= link_to "Remove", editor_stack_path(stack), method: :delete %>
      </li>
    <% else %>
      <li><%= link_to "Leave", editor_stack_leave_path(stack), method: :post %></li>
    <% end %>
  </ul>
</dropdown>
