<div class="grid grid-pair grid-middle">
  <div class="grid-item 5/6">
    <div class="media media-middle media-1/2" is="sidebar-item-stack-trigger">
      <div class="media-body">
        <%= stack %>
        <% if stack.has_collaborators? %>
          <%= image_tag "icn-collaboration" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="grid-item 1/6">
    <%= render "editor/stacks/dropdown", stack: stack %>
  </div>
</div>

<ul class="list-reset padding-left" slot="sidebar-item-stack-list">
  <% documents.each do |document| %>
    <li class="sidebar-item-document" is="sidebar-item-document" document="<%= document.to_param %>" stack="<%= stack.to_param %>">
      <%= render "editor/documents/sidebar_item", document: document %>
    </li>
  <% end %>
</ul>
