<div class="grid grid-pair grid-middle">
  <div class="grid-item 5/6">
    <div class="media media-middle media-1/2" is="sidebar-item-stack-trigger">
      <%= icon_tag "ios-arrow-right", "sidebar-icon-stack-icon" %>
      <%= icon_tag "ios-arrow-down", "sidebar-icon-stack-icon-active" %>
      <div class="media-body">
        <%= stack %>
        <% if stack.has_collaborators? %>
          <%= icon_tag "person-stalker" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="grid-item 1/6">
    <%= render "editor/stacks/dropdown", stack: stack %>
  </div>
</div>

<ul class="list-reset padding-left" slot="sidebar-item-stack-list">
  <% documents.each do |document| %>
    <li class="sidebar-item-document">
      <%= render "editor/documents/sidebar_item", document: document, type: :document %>
    </li>
  <% end %>
</ul>
