<ul class="list-inline navbar-menu padding-1/2">
  <li><%= link_to "Pricing", "#" %></li>
  <% if signed_in? %>
    <li><%= link_to "Help", "#" %></li>
    <li>
      <dropdown>
        <a is="dropdown-toggle">
          <%= gravatar_tag current_user.email, size: 52 %>
          <%= icon_tag "arrow-down-b" %>
        </a>

        <ul is="dropdown-menu" width="150">
          <li><%= link_to "Settings", editor_profile_path %></li>
          <li><%= link_to "Sign out", sign_out_path, method: :delete %></li>
        </ul>
      </dropdown>
    </li>
  <% else %>
    <li><%= link_to "Try now for free", sign_up_path, class: "btn btn-positive" %></li>
  <% end %>
</ul>
