<!DOCTYPE html>
<html>
  <head>
    <title>Real-time collaboration in Markdown - Jottings</title>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="EhCMRIbyCkmD3wRyRXK8v71ADi26GD5Q6LhEU-tDg_E">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:url" content="//jottings.co">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Jottings">
    <meta property="og:description" content="Real-time collaboration in Markdown">
    <meta property="og:image" content="<%= image_url("img-logo.png") %>">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4990E2">

    <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Gentium+Basic:400,700|Open+Sans:300,400|Inconsolata", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div id="v-app">
      <% if flash.present? %>
        <div class="has-flash">
          <% flash.each do |key, value| %>
            <div class="flash flash-<%= key %>" is="dismissable">
              <%= value %>
            </div>
          <% end %>
        </div>
      <% end %>

      <%= content_for?(:application) ? yield(:application) : yield %>
    </div>

    <% if Rails.env.production? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-51355575-7', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>
  </body>
</html>
