<!DOCTYPE html>
<html>
  <head>
    <title>Jottings - Real-time collaboration in Markdown</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div id="v-app">
      <% if flash.present? %>
        <div class="has-flash">
          <% flash.each do |key, value| %>
            <div class="flash flash-<%= key %>" is="dismissable">
              <%= value %>
            </div>
          <% end %>
        </div>
      <% end %>

      <%= content_for?(:application) ? yield(:application) : yield %>
    </div>
  </body>
</html>
