<% content_for :application do %>
  <div class="sticky-footer">
    <div class="grid editor">
      <div class="grid-item 1/5 editor-sidebar">
        <ul class="list-reset">
          <% current_user.documents.each do |document| %>
            <li>
              <%= link_to editor_document_path(document) do %>
                <div class="media media-middle media-1/3">
                  <i class="ion-document-text h3"></i>
                  <div class="media-body"><%= document.title %></div>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>

        <ul class="list-reset">
          <li>
            <%= link_to new_editor_document_path do %>
              <div class="media media-middle media-1/3">
                <i class="ion-document h3"></i>
                <div class="media-body">New document</div>
              </div>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="grid-item 4/5 editor-content">
        <div class="text-right">
            <%= render "navbar_menu" %>
        </div>

        <%= yield %>
      </div>
    </div>

    <div class="editor-footer">
      © 2016 Bartłomiej Kozal &amp; Maciej Kozal
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
