<% content_for :application do %>
  <div class="sticky-footer">
    <div class="grid editor">
      <div class="grid-item 1/5 editor-sidebar">
        <%= render "sidebar" %>
      </div>

      <div class="grid-item 4/5 editor-content">
        <ul class="list-inline navbar-menu margin-bottom text-right">
          <li><%= link_to "Help", "#" %></li>
          <li>
            <dropdown>
              <a is="dropdown-toggle">
                <%= gravatar_tag current_user.email, size: 52 %>
                <%= icon_tag "arrow-down-b" %>
              </a>

              <ul is="dropdown-menu" width="150">
                <li><%= link_to "Settings", editor_profile_path %></li>
                <li><%= link_to "Sign out", sign_out_path, method: :delete %></li>
              </ul>
            </dropdown>
          </li>
        </ul>

        <%= yield %>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
