<% content_for :application do %>
  <editor>
    <div class="grid editor">
      <sidebar class="grid-item editor-sidebar" v-cloak>
        <ul class="list-inline text-micro margin-bottom">
          <li class="margin-1/3-right">
            <%= link_to root_path do %>
              <%= gravatar_tag current_user.email, size: 30 %>
            <% end %>
          </li>
          <li class="margin-1/3-right">
            <%= link_to "Settings", editor_profile_path %>
          </li>
          <li><%= link_to "Sign out", sign_out_path, method: :delete %></li>
        </ul>

        <%= render "sidebar" %>
      </sidebar>

      <div class="grid-item editor-content" v-cloak>
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
