<% content_for :application do %>
  <div class="sticky-footer" is="editor">
    <div class="grid editor">
      <div class="grid-item editor-sidebar" is="sidebar">
        <div class="media media-middle margin-bottom">
          <%= link_to root_path do %>
            <%= gravatar_tag current_user.email, size: 30 %>
          <% end %>
          <div class="media-body">
            <ul class="list-inline navbar-menu text-micro">
              <li><%= link_to "Settings", editor_profile_path %></li>
              <li><%= link_to "Sign out", sign_out_path, method: :delete %></li>
            </ul>
          </div>
        </div>

        <%= render "sidebar" %>
      </div>

      <div class="grid-item editor-content">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
