<% content_for :application do %>
  <dismissable class="flash flash-notice">
    <p>
      Development of Jottings is on hold. The app is fully operational but runs
      on minimal setup which may cause synchronization lags. We decided to switch
      our focus to our other app called <a href="//coypu.co">Coypu</a>.
      A lot of things that we've learned here like operational transformations,
      contenteditable API, Vue.js and modern JS practices are helping us in
      our current work. Follow <a href="https://twitter.com/_bkzl">@_bkzl</a>
      and <a href="https://twitter.com/_mac">@_mac</a> for further updates.
    </p>
  </dismissable>

  <div class="sticky-footer">
    <div class="container">
      <div class="navbar">
        <div class="grid grid-pair grid-middle">
          <div class="grid-item 1/2">
            <ul class="navbar-menu">
              <li><%= link_to image_tag("img-logo.svg"), root_path, class: "navbar-brand" %></li>
              <li>
                <%= link_to root_path do %>
                  Jottings <sup class="text-muted">Beta</sup>
                <% end %>
              </li>
              <li><%= link_to "Pricing", page_path(page: "pricing") %></li>
            </ul>
          </div>

          <div class="grid-item 1/2">
            <ul class="navbar-menu">
              <li><%= link_to "Try now for free", sign_up_path, class: "btn btn-brand" %></li>
              <li><%= link_to "or sign in", sign_in_path %></li>
            </ul>
          </div>
        </div>
      </div>

      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>

    <div class="footer padding-vertical">
      <%= link_to "&copy; #{Date.today.year} Bartłomiej Kozal &amp; Maciej Kozal".html_safe, page_path(page: "contact") %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
